<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{69,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{69,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{69,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{69,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{71,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{71,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{73,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{73,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{73,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{73,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{73,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{71,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{71,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{69,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{69,93}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catanimation.png</string>
            <key>size</key>
            <string>{661,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0634260e911d3a60176dc2a9531b115f:42ec3c5478b1ec5fa45a185414fee379:02110c2854c546f478d46a2dc04bddc4$</string>
            <key>textureFileName</key>
            <string>catanimation.png</string>
        </dict>
    </dict>
</plist>
