<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{105,68}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,109},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,329},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,219},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,109},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>poor_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poor_animation.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc2b027eac5306749997a6e175c2db9:1/1$</string>
            <key>textureFileName</key>
            <string>poor_animation.png</string>
        </dict>
    </dict>
</plist>
