<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rich_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1554},{385,381}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{385,381}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,778},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,389},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1167},{385,381}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{385,381}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{385,387}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{385,387}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{385,389}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{385,389}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{385,393}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{385,393}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{385,393}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{385,393}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,393}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{385,393}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
            <key>rich_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{385,391}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{385,391}}</string>
                <key>sourceSize</key>
                <string>{397,397}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rich_animation.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66bb065688e01a3bf703ebd4fe37cc54:1/1$</string>
            <key>textureFileName</key>
            <string>rich_animation.png</string>
        </dict>
    </dict>
</plist>
